body{
    overflow-x: hidden;
}
.Trail{
    width: 50%;
    border: none;
    background-color:#22205f;
    color: white;
    font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border-radius: 2px;
  font-weight: bold;
  padding: 12px;
  }
  
  .Trail:hover{
    background-color: red;
  }


  .Global{
    color: #22205f;
    font-size: 60px;
  }

  